.blank-text {
    opacity: 0;
}

.board-button-size {
    font-size: 5rem;
    width: 8rem;
    height: auto;
}

.button-size {
    font-size: 1.25rem;
}

.choice-text {
    font-size: 2rem;
}

.choice-button-size {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

.dropdown-button-size {
    font-size: 1.5rem;
    width: 10rem;
    height: auto
}

.scoreboard {
    max-width: 15rem;
    font-size: 1.5rem;
}

.topbar-brand {
    font-size: 1.75rem; 
}



